#homeCollection {
    height: 525px;
    margin-top: 136px;
}

#homeOurCollection {
    width: 1111px;
    height: 196px;
    font: 900 150px/240px 'Fraunces-Black';
    text-align: center;
    color: var(--grey);
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

#homeCoffeVarieties {
    width: 1111px;
    height: 399px;
    position: absolute;
    margin-top: -70px;
    display: grid;
    grid-template-rows: 399px;
    grid-template-columns: 255px 255px 255px 255px;
    grid-template-areas:
        "granExpreso planalto picollo danche";
    column-gap: 30px;
}

.variety {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.coffeePacketPic {
    width: 255px;
    height: 193px;
    background-position: 90% 100%;
    background-size: 230px;
    background-repeat: no-repeat;
}

#granExpreso {
    grid-area: granExpreso;
}

#granExpresoPic {
    background-image: url('./img/image-gran-espresso.png');
}

#planalto {
    grid-area: planalto;
}

#planaltoPic {
    background-image: url('./img/image-planalto.png');
}

#picollo {
    grid-area: picollo;
}

#picolloPic {
    background-image: url('./img/image-piccollo.png');
}

#danchePic {
    grid-area: danche;
}

#danchePic {
    background-image: url('./img/image-danche.png');
}

.homeCoffeVariety {
    width: 255px;
    height: 134px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.homeCoffeeName {
    width: inherit;
    height: 32px;
    font: 900 24px/32px 'Fraunces-Black';
}

.homeDescription {
    width: inherit;
    height: 78px;
}

/*############################## TABLET VERSION ##############################*/

@media (min-width: 768px) and (max-width: 1024px) {

    #homeCollection {
        width: 689px;
        height: 927px;
        margin-top: 144px;
    }

    #homeOurCollection {
        width: 689px;
        height: 118px;
        font: 900 96px/103px 'Fraunces-Black';
    }

    #homeCoffeVarieties {
        width: 573px;
        height: 868px;
        margin: -70px 58px 0px 58px;
        grid-template-rows: 193px 193px 193px 193px;
        grid-template-columns: 573px;
        grid-template-areas:
            "granExpreso"
            "planalto"
            "picollo"
            "danche";
        column-gap: 0px;
        row-gap: 32px;
    }

    .variety {
        flex-direction: row;
    }

    .coffeePacketPic {
        height: 193px;
        background-position: 76% 100%;
        background-size: 226px;
    }

    .homeCoffeVariety {
        width: 282px;
        height: 193px;
        justify-content: flex-start;
        text-align: left;
    }

    .homeCoffeeName {
        margin-top: 30px;
    }

    .homeDescription {
        margin-top: 24px;
    }
}

/*############################## MOBILE VERSION ##############################*/

@media screen and (max-width:767px) {
    #homeCollection {
        width: 375px;
        height: 1321px;
        margin-top: 120px;
    }

    #homeOurCollection {
        width: 375px;
        height: 72px;
        font: 900 40px/72px 'Fraunces-Black';
    }

    #homeCoffeVarieties {
        width: 375px;
        height: 1236px;
        margin-top: 13px;
        padding: 0px 47px;
        grid-template-rows: 273px 273px 273px 273px;
        grid-template-columns: 282px;
        grid-template-areas:
            "granExpreso"
            "planalto"
            "picollo"
            "danche";
        column-gap: 0px;
        row-gap: 48px;
    }

    .variety {
        flex-direction: column;
        align-items: center;
    }

    .coffeePacketPic {
        width: 282px;
        height: 151px;
        background-position: 60% 80%;
        background-size: 170px;
    }

    .homeCoffeVariety {
        width: 282px;
        height: 98px;
        margin-top: 24px;
    }

    .homeDescription {
        height: 50px;
    }
}