#subscribePlanMaker {
    width: 1110px;
    height: auto;
    margin: 159px 0px 168px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#planMakerContent {
    width: inherit;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#planIndex {
    width: 255px;
    height: 505px;
    font: 900 24px/32px 'Fraunces-Black';
    display: flex;
    flex-direction: column;
    margin-top: -24px;
}

.indexOption{
    width: inherit;
    height: 80px;
    padding: 24px 0px;
    border-bottom: solid 1px rgba(131,136,143,0.25);
    color: var(--darkGrey);
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.indexUnselected{
    opacity: 0.4;
}

.indexOptionNumber{
    margin-right: 25px;
}

#planOptions {
    width: 730px;
    height: auto;
    display: flex;
    flex-direction: column;
}

#planSummary{
    width: 730px;
    height: 208px;
    margin-bottom: 40px;
    padding: 47px 64px;
    background-color: var(--darkGrey);
}

#planSummary-content{
    display: flex;
    flex-direction: column;
}

#planSummary-content p[class='mainText']{
    color: rgba(255,255,255,0.5);
    margin-bottom: 9px;
}

#planSummary-resumeText{
    font: 900 24px/40px 'Fraunces-Black';
    color: white;
}

.planChoice{
    color:var(--darkCyan);
}
