#subscribePlanMaker {
    width: 1110px;
    height: auto;
    margin: 159px 0px 168px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#planMakerContent {
    width: inherit;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#planOptions {
    width: 730px;
    height: auto;
    display: flex;
    flex-direction: column;
}

/*############################## TABLET VERSION ##############################*/

@media (min-width: 768px) and (max-width: 1024px) {
    #subscribePlanMaker {
        width: 689px;
        margin: 144px 0px;
    }

    #planOptions {
        width: inherit;
    }
}

/*############################## MOBILE VERSION ##############################*/

@media screen and (max-width:767px) {
    #subscribePlanMaker {
        width: 328px;
        margin: 120px 0px;
        align-items: center;
    }

    #planMakerContent {
        flex-direction: column;
        justify-content: flex-start;
    }

    #planOptions {
        width: inherit;
        height: auto;
    }
}