#subscribePlanMaker {
    width: 1110px;
    height: auto;
    margin: 159px 0px 168px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#planMakerContent {
    width: inherit;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#planOptions {
    width: 730px;
    height: auto;
    display: flex;
    flex-direction: column;
}

#planSummary{
    width: 730px;
    height: 208px;
    margin-bottom: 40px;
    padding: 47px 64px;
    background-color: var(--darkGrey);
}

#planSummary-content{
    display: flex;
    flex-direction: column;
}

#planSummary-content p[class='mainText']{
    color: rgba(255,255,255,0.5);
    margin-bottom: 9px;
}

#planSummary-resumeText{
    font: 900 24px/40px 'Fraunces-Black';
    color: white;
}

.planChoice{
    color:var(--darkCyan);
}
