#aboutUsHeadQuarters{
    width: 1045px;
    height: 366px;
    margin: 168px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#aboutUsHeadQuarters h4{
    color: var(--grey);
}

#headQuatersInfo{
    width: inherit;
    height: 262px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headQuaterDetails{
    width: 285px;
    height: 167px;
    color: var(--darkGrey);
}

.headQuaterDetails h3{
    width: inherit;
    margin: 45px 0px 24px 0px;
}

.countryPic{
    width: 51px;
    height: 51px;
    background-position: 0% 0%;
    background-repeat: no-repeat;
}

#UK-pic{
    background-image: url('./img/uk.svg');
}

#Canada-pic{
    background-image: url('./img/canada.svg');
}

#Australia-pic{
    background-image: url('./img/australia.svg');
}



