.option{
    width: inherit;
    height: 354px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 88px;
    border: solid 1px green;
}

.optionTitle{
    width: inherit;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--grey);
    border: solid 1px red;
}

.optionChoices{
    width: inherit;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 1px red;
}

.choice{
    width: 228px;
    height: inherit;
    border-radius: 8px;
    padding: 32px 28px 0px 28px;
    display: flex;
    flex-direction: column;
    border: solid 1px red;
}

.choice h4{
    margin-bottom: 24px;
}

.arrow{
    width: 18px;
    height: 12px;
    background-position: center;
    background-size: 18px;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.arrowUp{
    background-image: url('./img/icon-arrow-up.svg') ;
}

.arrowDown{
    background-image: url('./img/icon-arrow-down.svg') ;
}


