.option{
    width: inherit;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 88px;
}

.option button{
    width: inherit;
    height: 48px;
    text-align: left;
    color: var(--grey);
    background-color: transparent;
    background-position: right;
    background-repeat: no-repeat;
    font: 40px/48px 'Fraunces-Black';
    border: none;
}

.buttonBlocked{
    background-image: url('./img/icon-arrow-down.svg');
    opacity: 0.5;
}

.arrowUp{
    background-image: url('./img/icon-arrow-up.svg') ;
    cursor: pointer;
}

.arrowDown{
    background-image: url('./img/icon-arrow-down.svg') ;
    cursor: pointer;
}

.optionChoices{
    width: inherit;
    height: 250px;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 56px;
}

.optionChoicesExtended{
    display: flex;
}

.optionChoicesCollapsed{
    display: none;
}

/*############################## TABLET VERSION ##############################*/

@media (min-width: 768px) and (max-width: 1024px) {
    .option{
        margin-bottom: 100px;
    }
    
    .option button{
        font: 32px/48px 'Fraunces-Black';
    }
    
    .optionChoices{
        margin-top: 40px;
    }
}

/*############################## MOBILE VERSION ##############################*/

@media screen and (max-width:767px) {
    .option{
        margin-bottom: 32px;
    }
    
    .option button{
        height: 56px;
        font: 24px/28px 'Fraunces-Black';
        padding-right: 88px;
    }
    
    .optionChoices{
        width: inherit;
        height: 452px;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 56px;
    }
}



