#subscribeHeader{
    width: 1280px;
    height: 450px;
    border-radius: 10px;
    padding: 134px 0px 0px 85px;
    background: url('./img/desktop-blackcup.jpg') center/1280px no-repeat;
}

#subscribeHeader p{
    width: 445px;
    margin-top: 32px;
    color: rgba(254,252,247,0.8);
}

/*############################## TABLET VERSION ##############################*/

@media (min-width: 768px) and (max-width: 1024px) {
    #subscribeHeader{
        width: 689px;
        height: 400px;
        padding: 127px 0px 0px 58px;
        background: url('./img/tablet-hero-blackcup.jpg') center/689px no-repeat;
    }
    
    #subscribeHeader p{
        width: 398px;
    }
}

/*############################## MOBILE VERSION ##############################*/

@media screen and (max-width:767px) {
    #subscribeHeader{
        width: 327px;
        height: 400px;
        padding: 101px 24px 0px 24px;
        background: url('./img/mobile-blackcup.jpg') center/327px no-repeat;
        text-align: center;
    }
    
    #subscribeHeader p{
        width: 279px;
        margin-top: 22px;
    }
}