footer {
    width: 1280px;
    height: 120px;
    padding: 47px 85px;
    background-color: var(--darkGrey);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#footerLinks{
    width: 622px;
    height: 26px;
    color: grey;
    justify-content: flex-end;
    background: url('./img/logo-footer.svg') left/236px no-repeat;
    font: 700 12px/26px 'Barlow-Bold';
    cursor: pointer;
}

#footerLinks div{
    margin-left: 32px;
}

#footerSocialMedia{
    width: 120px;
    height: 24px;
    justify-content: space-between;
}

.socialMediaIcon{
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    cursor: pointer;
}

#facebook{
    background-image: url(./img/icon-facebook.svg);
}

#twitter{
    background-image: url(./img/icon-twitter.svg);
}

#instagram{
    background-image: url(./img/icon-instagram.svg);
}
