footer {
    width: 1280px;
    height: 120px;
    padding: 47px 85px;
    background-color: var(--darkGrey);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#footerLinks {
    width: 622px;
    height: 26px;
    justify-content: flex-end;
    background: url('./img/logo-footer.svg') left/236px no-repeat;
}

#footerLinks button {
    margin-left: 32px;
    background-color: transparent;
    border: none;
    font: 700 12px/26px 'Barlow-Bold';
    letter-spacing: 0.92px;
    color: var(--grey);
    cursor: pointer;
}

#footerLinks button:hover {
    color: var(--lightCream);
}

#footerSocialMedia {
    width: 120px;
    height: 24px;
    justify-content: space-between;
}

.socialMediaIcon {
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    cursor: pointer;
}

#facebook {
    background-image: url(./img/icon-facebook.svg);
}

#facebook:hover {
    background-image: url(./img/icon-facebook-hover.svg);
}

#twitter {
    background-image: url(./img/icon-twitter.svg);
}

#twitter:hover {
    background-image: url(./img/icon-twitter-hover.svg);
}

#instagram {
    background-image: url(./img/icon-instagram.svg);
}

#instagram:hover {
    background-image: url(./img/icon-instagram-hover.svg);
}

/*############################## TABLET VERSION ##############################*/

@media (min-width: 768px) and (max-width: 1024px) {
    footer {
        width: 100vw;
        height: 270px;
        padding: 54px 190px;
        flex-direction: column;
        justify-content: flex-start; 
    }
    
    footer>div {
        align-items: flex-end;
    }
    
    #footerLinks {
        width: 283px;
        height: 73px;
        background-position: top;
        justify-content: space-between;
    }
    
    #footerLinks button {
        margin-left: 0px;
        font: 700 12px/15px 'Barlow-Bold';
        letter-spacing: 0.96px;
    }

    #footerSocialMedia {
        margin-top: 65px;
    }

}