.mainButton {
    width: 217px;
    height: 56px;
    color: var(--lightCream);
    font: 900 18px/25px 'Fraunces-Black';
    border-radius: 6px;
    border: none;
}

.enabled{
    background-color: var(--darkCyan);
    cursor: pointer;
}

.enabled:hover{
    color:rgba(254,252,247,0.4)
}

.disabled{
    background-color: var(--grey);
}