#aboutUsQuality {
    width: 1280px;
    height: 562px;
    margin-top: 168px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    color: var(--lightCream);
}

#qualityPic {
    width: 445px;
    height: 474px;
    border-radius: 8px;
    margin-right: 85px;
    position: absolute;
    background: url('./img/desktop-quality.jpg') center/445px;
}

#qualityInfo {
    width: inherit;
    height: 474px;
    border-radius: 8px;
    margin-top: 88px;
    padding: 88px 0px 0px 85px;
    background-color: var(--darkGrey);
}

#aboutUsQuality p {
    width: 540px;
    margin-top: 32px;
    opacity: 0.8;
}

/*############################## TABLET VERSION ##############################*/

@media (min-width: 768px) and (max-width: 1024px) {
    #aboutUsQuality {
        width: 688px;
        height: 488px;
        margin-top: 304px;
        text-align: center;
    }

    #qualityPic {
        width: 573px;
        height: 320px;
        margin-top: -160px;
        left: 50%;
        transform: translate(-50%, 0%);
        background: url('./img/tablet-image-quality.jpg') center/573px;
    }

    #qualityInfo {
        height: 488px;
        margin-top: 0px;
        padding: 224px 74px 0px 74px;
    }

    #aboutUsQuality p {
        width: 535px;
        margin-top: 24px;
    }
}

/*############################## MOBILE VERSION ##############################*/

@media screen and (max-width:767px) {
    #aboutUsQuality {
        width: 327px;
        height: 509px;
        margin-top: 120px;
    }

    #qualityPic {
        width: 279px;
        height: 156px;
        margin: -78px 0px 0px;
        left: 50%;
        transform: translateX(-50%);
        background: url('./img/mobile-image-quality.jpg') center/279px;
    }

    #qualityInfo {
        height: inherit;
        margin-top: 0px;
        padding: 142px 24px 0px;
        text-align: center;
    }

    #aboutUsQuality p {
        width: 279px;
        margin-top: 24px;
    }
}