:root{
    --mainBackGround-color: #FEFCF7;
    --darkGrey: #2C343E;
    --grey: #83888F;
}

@font-face {
    font-family: 'Barlow-Regular';
    src: url('../src/assets/fonts/Barlow-Regular.woff')format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Barlow-Bold';
    src: url('../src/assets/fonts/Barlow-Bold.woff')format('woff');
    font-style: bold;
    font-weight: 700;
}

*{
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
    margin: 0px;
}

main{
    width: 1440px;
    height: auto;
    background-color: var(--mainBackGround-color);
    padding: 113px 80px 88px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: solid 1px red;
}

nav{
    padding: 0px;
    margin: auto;
}