:root{
    --lightCream: #FEFCF7; /*rgb(254,252,247) - hsl(43, 78%, 98%)*/
    --grey: #83888F; /*rgb(131,136,143) - hsl(215,5%,54%)*/
    --darkGrey: #2C343E; /*rgb(51,61,75) - hsl(215,19%,25%)*/
    --darkCyan: #0E8784; /*rgb(14,135,132) - hsl(179,81%,29%)*/
    --paleOrange: #FDD6BA; /*rgb(253,214,186) - hsl(25,94%,86%)*/
}

@font-face {
    font-family: 'Barlow-Regular';
    src: url('../src/assets/fonts/Barlow-Regular.woff')format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Barlow-Bold';
    src: url('../src/assets/fonts/Barlow-Bold.woff')format('woff');
    font-style: bold;
    font-weight: 700;
}

@font-face {
    font-family: 'Fraunces-Black';
    src: url('../src/assets/fonts/Fraunces-Black.woff')format('woff');
    font-style: bold;
    font-weight: 900;
}

*{
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
    margin: 0px;
}

main{
    width: 1440px;
    height: auto;
    background-color: var(--lightCream);
    padding: 113px 80px 88px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

nav{
    padding: 0px;
    margin: auto;
}

h1,h2,h3,h4{
    padding:0px;
    margin: 0px;
}

h1{
    color: var(--lightCream);
    font: 900 72px/72px 'Fraunces-Black';
}

h2{
    font: 40px/48px 'Fraunces-Black';
}

h3{
    font: 32px/36px 'Fraunces-Black';
}

h4{
    font: 24px/32px 'Fraunces-Black';
}

p{
    padding:0px;
    margin: 0px; 
}

.mainText{
    font: 400 16px/26px 'Barlow-Regular'; 
}

/*############################## TABLET VERSION ##############################*/

@media (min-width: 768px) and (max-width: 1024px) {
    h1{
        font: 900 48px/48px 'Fraunces-Black';
    }

    h2{
        font: 32px/48px 'Fraunces-Black';
    }

    .mainText{
        font: 400 15px/25px 'Barlow-Regular'; 
    }
}