#homeHeader {
    width: 1280px;
    height: 600px;
    border-radius: 10px;
    background: url('./img/coffeepress-desktop.jpg') center/1280px no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 117px 0px 0px 85px;
}

#homeHeader h1 {
    width: 493px;
    height: 145px;
}

#homeHeader p {
    width: 445px;
    height: 78px;
    color: rgba(254, 252, 247, 0.8);
    margin-top: 32px;
}

#homeHeader button {
    margin-top: 56px;
}

/*############################## TABLET VERSION ##############################*/

@media (min-width: 768px) and (max-width: 1024px) {
    #homeHeader {
        width: 689px;
        height: 500px;
        background: url('./img/coffeepress-tablet.jpg') center/689px no-repeat;
        padding: 104px 0px 104px 58px;
    }

    #homeHeader h1 {
        width: 329px;
        height: 97px;
    }

    #homeHeader p {
        width: 397px;
        height: 75px;
        margin-top: 24px;
    }

    #homeHeader button {
        margin-top: 44px;
    }
}

/*############################## MOBILE VERSION ##############################*/

@media screen and (max-width:767px) {
    #homeHeader {
        width: 327px;
        height: 500px;
        align-items: center;
        background: url('./img/coffeepress-mobile.jpg') center/327px no-repeat;
        padding: 100px 24px 0px;
        text-align: center;
    }

    #homeHeader h1 {
        width: 279px;
        height: 81px;
    }

    #homeHeader p {
        width: 279px;
        height: 101px;
        margin-top: 24px;
    }

    #homeHeader button {
        margin-top: 56px;
    }
}