#homeWhyChooseUs {
    width: 1280px;
    height: 577px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    margin-top: 200px;
    border-radius: 10px;
    color: var(--lightCream);
    padding-top: 100px;
    background-color: var(--darkGrey);
}

#homeWhyChooseUs p {
    width: 528px;
    height: 80px;
    margin-top: 32px;
}

#homeReasons {
    width: 1110px;
    height: 382px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -231px;
}

.reason {
    width: 350px;
    height: inherit;
    padding-top: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--darkCyan);
    color: var(--lightCream);
    border-radius: 8px;
}

.reason p {
    width: 255px;
    height: 78px;
    margin-top: 24px;
}

.reasonContent {
    width: 255px;
    height: 262px;
    padding-top: 128px;
    background-position: 50% 0%;
    background-size: 72px;
    background-repeat: no-repeat;
    margin-bottom: 56px;
}

#coffeeBean-icon {
    background-image: url('./img/icon-coffee-bean.svg');
}

#gift-icon {
    background-image: url('./img/icon-gift.svg');
}

#truck-icon {
    background-image: url('./img/icon-truck.svg');
}

/*############################## TABLET VERSION ##############################*/

@media (min-width: 768px) and (max-width: 1024px) {
    #homeWhyChooseUs {
        width: 688px;
        height: 573px;
        margin-top: 144px;
        border-radius: 10px;
        padding-top: 56px;
    }

    #homeWhyChooseUs p {
        width: 495px;
        height: 77px;
        margin-top: 24px;
    }

    #homeReasons {
        width: 573px;
        height: 588px;
        flex-direction: column;
        margin-top: -275px;
        
    }

    .reason {
        width: 573px;
        height: 180px;
        padding: 41px 0px 70px 0px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .reason p {
        width: 344px;
        height: 50px;
        margin-top: 16px;
    }

    .reasonContent {
        width: 455px;
        height: 98px;
        padding: 0px 0px 0px 111px;
        text-align: left;
        background-position: 0% 50%;
        background-size: 55px;
        margin-bottom: 0px;
    }
}