#homeWhyChooseUs {
    width: 1280px;
    height: 577px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    margin-top: 200px;
    border-radius: 10px;
    color: var(--lightCream);
    padding-top: 100px;
    background-color: var(--darkGrey);
}

#homeWhyChooseUs p {
    width: 528px;
    height: 80px;
    margin-top: 32px;
    opacity: 0.8;
}

#homeReasons {
    width: 1110px;
    height: 382px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -231px;
}

.reason {
    width: 350px;
    height: inherit;
    padding-top: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    background-color: var(--darkCyan);
    color: var(--lightCream);
    border-radius: 8px;
}

.whyChooseUsIcon {
    width: 72px;
    height: 72px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.reasonContent {
    width: 255px;
    height: 134px;
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 56px;
}

.reasonContent p {
    width: 255px;
    height: 78px;
}

#coffeeBean-icon {
    background-image: url('./img/icon-coffee-bean.svg');
}

#gift-icon {
    background-image: url('./img/icon-gift.svg');
}

#truck-icon {
    background-image: url('./img/icon-truck.svg');
}

/*############################## TABLET VERSION ##############################*/

@media (min-width: 768px) and (max-width: 1024px) {
    #homeWhyChooseUs {
        width: 688px;
        height: 573px;
        margin-top: 144px;
        border-radius: 10px;
        padding-top: 56px;
    }

    #homeWhyChooseUs p {
        width: 495px;
        height: 77px;
        margin-top: 24px;
    }

    #homeReasons {
        width: 573px;
        height: 588px;
        flex-direction: column;
        margin-top: -275px;

    }

    .reason {
        width: 573px;
        height: 180px;
        padding: 0px 0px 0px 70px;
        flex-direction: row;
        text-align: left;
    }

    .whyChooseUsIcon {
        width: 56px;
        height: 56px;
    }

    .reasonContent {
        width: 344px;
        height: 98px;
        margin-top: 0px;
        align-items: flex-start;
        margin: 0px 0px 0px 55px;
    }

    .reasonContent p {
        width: inherit;
        height: 50px;
    } 
}

/*############################## MOBILE VERSION ##############################*/

@media screen and (max-width:767px) {
    #homeWhyChooseUs {
        width: 327px;
        height: 902px;
        flex-direction: column;
        margin-top: 120px;
        padding-top: 64px;
    }

    #homeReasons {
        width: 279px;
        height: 1194px;
        flex-direction: column;
        margin-top: -597px;
    }

    .reason {
        width: inherit;
        height: 382px;
    }

    .reasonContent p {
        width: 279px;
        height: 125px;
        margin-top: 24px;
    }
}